<div class="container cont-bordered">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div id="user_description" class="">
        <div id="profil_pic">
          <img src="<%= @user.photo %>" alt="profile-picture" class="avatar">
        </div>
        <h3 id="name"><%= "#{@user.first_name} #{@user.last_name}" %></h3>
        <p id="address" class="italic"><i class="fas fa-map-marker-alt"></i> <%= @user.address %></p>
        <p id="email" class="italic"><i class="fas fa-at"></i> <%= @user.email %></p>
        <p id="phone_number" class="italic"><i class="fas fa-phone"></i> <%= @user.phone_number %></p>
      </div>

      <div id="my_reviews" class="flex" >
        <h4 class="text-uppercase">My Reviews</h4>
        <% @user.reviews.each do |review| %>
          <ul>
            <li><%= review.content %> (<%= review.rate %>/5)</li>
          </ul>
        <% end %>
      </div>

      <div id="games_on_sale">
        <h4 class="text-uppercase">Your game(s) on sale</h4>
        <% @user.games.where(buyer_id: nil).each do |game| %>
          <ul>
            <li> <%= game.name %> (<%= number_with_precision(game.price, :precision => 2) %>€) </li>
          </ul>
        <% end %>
      </div>

      <div id="transactions">
        <h4 class="text-uppercase">Transactions</h4>
        <div class="tab-container">
          <ul class="tab" role="tablist">
            <li role="presentation" class="active"><a href="#sold" aria-controls="sold" role="tab" data-toggle="tab">Sold</a></li>
            <li role="presentation"><a href="#bought" aria-controls="bought" role="tab" data-toggle="tab">Bought</a></li>
          </ul>
        </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="sold">
            <% unless @user.sold_games.nil? %>
              <ul>
                <% @user.sold_games.each do |sold_game| %>

                  <li class="game"><%= sold_game.name %> <span style="color: #EDEDED; font-weight: lighter">|</span> <%= sold_game.transaction_date %></li>
                <% end %>
              </ul>
            <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="bought">
              <% unless @user.bought_games.nil? %>
                <ul>
                  <% @user.bought_games.each do |bought_game| %>
                  <div class="test">
                    <li class="game">
                      <span class="review_btn"><%= link_to "Add Review", new_user_review_path(bought_game.user), class: "btn-review" %></span>
                      <%= bought_game.name %> <span style="color: #EDEDED; font-weight: lighter">|</span> <%= bought_game.transaction_date %>
                    </li>
                  </div>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
      </div>
      <div id="btn-range">
        <%= link_to "Edit Profile", edit_profile_path(@user), class: "btn_all" %>
      </div>
    </div>
  </div>
</div>
