<style type="text/css">

.alerta{
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px;

}
.boton{
  padding: 10px;
}

</style>
<div class="container cont-bordered">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

<div class="mt-3">
    <div class="alert alert-info alerta" role="alert">
         <h4 class="alert-heading">Well done!</h4>
             <p>You bought this game ! </p>
        </div>

         <p> Now you can contact the seller to get it :) </p>

        <p><%= @user.first_name %> <%= @user.last_name %></p>
        <p><i class="fas fa-map-marker-alt"></i>   <%= @user.address %></p>
        <p><i class="fas fa-phone"></i> <%= @user.phone_number %></p>
     </div>


     <%= link_to "Go to my profile", profile_path(current_user), class: "btn btn-primary boton btn_all" %>
    <%= link_to "Go to all games", games_path, class: "btn btn-primary boton btn_all" %>

</div>
 </div>
</div>
</div>
