<div class="container cont-bordered">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
         <div class="search-bar">
          <%= form_tag games_path, class: 'form-search', method: :get do %>
          <%= text_field_tag :query,
          params[:query],
         class: "form-control",
         placeholder: "Find a game"
         %>
       <% end %>
      </div>
  </div>

    <% @games.each do |game| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card-trip">
            <%= link_to "", game_path(game), class: 'card-link'%>

          <img src="<%=game.photo%>">

          <div class="card-trip-infos">
            <div class="card-text">
              <br>
              <h2><%=game.name%></h2>
              <br>
              <p><%=game.description%></p>
            </div>
            <i><h2 class="card-trip-pricing btn-price-card">
              <%= number_with_precision(game.price, :precision => 2) %>€</h2></i>
            <%= link_to "", game_path(game), class: 'card-link'%>
            <img src="<%=game.user.photo%>" class="card-trip-user avatar-bordered"/>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
