<div class="container">
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card-trip">

          <img src="<%=game.photo%>">

          <div class="card-trip-infos">
            <div>
              <h2><%=game.name%></h2>
              <p><%=game.description%></p>
            </div>
            <h2 class="card-trip-pricing"><%=game.price%>€</h2>
            <%= link_to "", game_path(game), class: 'card-link'%>
            <img src="<%=game.user.photo%>" class="card-trip-user avatar-bordered"/>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
