
<div class="container">
  <div class="row color_create">
    <div class="col-md-8 col-md-offset-2 ">
      <h1>Create a new game</h1>

      <%= simple_form_for @game do |f| %>
        <%= f.input :name, class: 'bg-secondary' %>
        <%= f.input :description %>
        <%= f.input :price, input_html: { min: '0', step: 'any' }  %>
        <%= f.input :state, as: :radio_buttons , collection: User::STATES, wrapper: :vertical_collection_inline %>
        <%= f.input :photo %>


        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
