<div class="container cont-bordered">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

       <div class="game-show">

             <div class="game-detail">

    <!-- Title of the game -->
         <div class="game-head">
            <h3 class="game-title"><%= @game.name %></h3>
            <p class="game-price"><%= number_with_precision(@game.price, :precision => 2) %>€</p>
        </div>
        <div class="">
          <p class="game-state"><%= @game.state %></p>
          </div>
    <!-- picture of the game -->
       <div class="text-center">
            <img class="game-picture" src="<%= @game.photo %>" alt="">
        </div>

    <!-- Informations about seller of game -->

           <div class="game-user">
               <img src="<%= @game.user.photo %>" class="avatar-bordered" alt="">
               <h2><%= @game.user.first_name %> <%= @game.user.last_name %></h2>
           </div>
    <!-- price of the game -->

            <div class="game-title-desc">
    <!-- description of the game -->
             <p><%= @game.description %></p>
            </div>
         </div>


  <!-- Buttons -->
  <!-- if not logged in -->
  <% if current_user == nil %>
    <a class="btn btn_all" href="<%=game_payment_path%>">Buy this game</a>
  <!-- if game has been bought -->
  <% elsif @game.buyer_id != nil %>
    <a class="btn btn_all" href="#">This game is sold !</a>
  <!-- if you are the seller of the game -->

  <% elsif @game.user.id == current_user.id %>
    <a class="btn btn_all" data-method="delete" href="<%=game_path%>">Delete this game</a>
     <a class="btn btn_all" data-method="delete" href="<%=game_path%>">Edit this game</a>

  <!-- if not -->
  <% else %>
    <a class="btn btn_all" href="<%=game_payment_path%>">Buy this game</a>
  <% end %>
</div>
</div>
</div>
</div>
