<div class="container game-show">
  <div class="game-detail">

    <div class="container game-user">
      <img src="<%= @game.user.photo %>" class="avatar-bordered" alt="">
      <h2><%= @game.user.first_name %> <%= @game.user.last_name %></h2>
    </div>
    <img class="game-picture" src="<%= @game.photo %>" alt="">
    <p class="game-price"><%= @game.price %>0€</p>
    <div class="game-title-desc">
      <h3 ><%= @game.name %></h3>
      <p><%= @game.description %></p>
    </div>
  </div>

  <% if @game.buyer_id != nil %>
    <a class="btn btn-ghost" href="#">This game is sold !</a>
  <% elsif @game.user.id == current_user.id %>
    <a class="btn btn-ghost btn-delete" href="#">Delete this game</a>
  <% else %>
    <a class="btn btn-ghost btn-buy" href="#">Buy this game</a>
  <% end %>
</div>

